body {
    background-color: #ffffff;      
    font-family: Arial,
    margin: 0;               
}

/* HEADER */
.header {
    display: flex;                 
    justify-content: space-between; 
    align-items: center;            
    background-color: #f6f6f6;      
    padding: 12px 20px;             
    border-bottom: 1px solid #ccc;  
}

.header .logo {
    font-size: 26px;                
    font-weight: bold;       
}

.header input {
    padding: 6px;               
    width: 200px;               
}

/* LAYOUT KONTEJNER */
.container {
    display: flex;               
    padding: 20px;                 
    gap: 20px;                     
}

/* SIDEBAR */
.sidebar {
    width: 180px;                
    border-right: 1px solid #ccc;  
    padding-right: 10px;         
}

.sidebar h3 {
    font-size: 18px;          
    margin-top: 0;              
}

.sidebar ul {
    list-style: none;         
    padding-left: 0;                
    margin: 0;                   
}

.sidebar li {
    padding: 4px 0;    
    font-size: 15px;    
}

.main {
    flex: 2;             
}

.main h1 {
    margin-top: 0;       
    font-size: 32px;     
}

.infobox {
    width: 260px;            
    border: 1px solid #ccc;     
    padding: 10px;           
    height: fit-content;      
}

.infobox img {
    width: 100%;   
    display: block;    
    margin-top: 10px;  
}

.infobox table {
    width: 100%;           
    border-collapse: collapse; 
}

.infobox th {
    text-align: left;   
    width: 40%;        
    font-weight: bold;  
    padding: 4px;        
    font-size: 14px;  
}

.infobox td {
    padding: 4px;      
    font-size: 14px; 
}
